bin/
obj/
.vs/
/packages/
riderModule.iml
/_ReSharper.Caches/
AdLerBackend.sln.DotSettings.user
/AdLerBackend.API/wwwroot/
/AdLerBackend.API/config/cert/
/AdLerBackend.API/config/config.json
.idea/

*.db
*.log

*.db-shm
*.db-wal